body {
    text-align: center;
    background: #f3f3f3;
    overflow-x: hidden;
}

.slider-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.slides {
    display: flex;
    flex-wrap: nowrap;
}

.slides img {
    height: auto;
    width: 100%;
}
