/* آیکون چشمک‌زن برای موبایل */
.rotate-icon {
  display: none;
  width: 80px;
  height: auto;
  animation: blink 2s infinite;
  filter: drop-shadow(0 0 4px #00aaff);
}

/* چشمک زدن */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

/* نمایش آیکون در حالت موبایل */
@media (max-width: 768px) {
  .start-button {
    display: none;
  }

  .rotate-icon {
    display: block;
  }
}
